.main-nav {
  flex-direction: column;
}

.logo-wrapper {
  justify-content: center;
  align-items: center;
  background-color: #343a40;

  img {
    padding: 25px;
    width: 11rem;
  }
}

.flexStyle{
  display: flex;
}

.img-thumbnail{
  width: 6rem;
}

.hoverImgSearch{
  transition: width 2s;
}

.hoverImgSearch:hover{
  width: 8rem;
}
