.main-nav {
  flex-direction: column;
}

.logo-wrapper {
  justify-content: center;
  align-items: center;
  background-color: #343a40;

  img {
    max-height: 150px;
    padding: 25px;
  }
}

.flexStyle{
  display: flex;
}

.img-thumbnail{
  width: 4rem;
}

.hoverImgSearch{
  transition: width 2s;
}

.hoverImgSearch:hover{
  width: 6rem;
}
